.pop-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.4);
}

.pop-content {
    width: 200px;
    height: 100px;
    position: fixed;
    z-index: 999;
    background-color: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pop-content h4 {
    overflow: hidden;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #666;
}

.pop-close {
    float: right;
}

.pop-tips {
    width: 100px;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    padding: 10px 20px;
    color: #FFF;
}